# fastapi
# uvicorn
# langchain
# langchain-community
# langchain-huggingface
# langchain-postgres
# chromadb==0.5.5

# pypdf
# pymupdf

# python-multipart
# python-dotenv
# PyYAML==6.0.1

# groq
# langchain-groq

# psycopg[binary]
# pgvector

fastapi
uvicorn

langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-groq==0.1.10
langchain-postgres

chromadb==0.5.5

pypdf
pymupdf

python-multipart
python-dotenv
PyYAML==6.0.1

groq

psycopg[binary]
pgvector

langchain-huggingface
huggingface_hub

huggingface_hub==0.23.5

sentence-transformers
torch